.obsidian/plugins/
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.DS_Store
Thumbs.db

# Exclude hidden folders (starting with .)
/.*

# Exclude personal folder
08 Journaling and Personal/